<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.mapper.UserMapper">
   <select id="UserLogin" resultType="Map" parameterType="com.aurora.entity.User">
   		{CALL UserLogin(#{id,mode=IN},#{password,mode=IN})}
   </select>
   <select id="UserRegist" resultType="Map" parameterType="com.aurora.entity.User">
   		{CALL UserRegist(#{password,mode=IN},#{name,mode=IN})}
   </select>
    <select id="actUsers" resultType="java.util.Map">
    	{CALL actUsers(#{fid,mode=IN},#{tid,mode=IN},#{act,mode=IN})}
    </select>
    <update id="updateUser" parameterType="java.util.Map">
    	UPDATE users
    	<set>
			<foreach collection="paramMap.entrySet()" item="value" index="key" separator=",">
            ${key}=#{value}
            </foreach>
    	</set> 
    	WHERE id=#{id}
    </update>
    <update id="updateUserSafe" parameterType="java.util.Map">
    	UPDATE users_safety
    	<set>
			<foreach collection="paramMap.entrySet()" item="value" index="key" separator=",">
            ${key}=#{value}
            </foreach>
    	</set> 
    	WHERE id=#{id}
    </update>
    <select id="setUserPassword" parameterType="java.util.Map" resultType="int">
    	{CALL setUserPassword(#{id,mode=IN},#{fpassword,mode=IN},#{npassword,mode=IN})}
    </select>
</mapper>